<section class="students-section">
  <ion-list>
    <ion-item
      *ngFor="let student of students$ | async; trackBy: studentById"
      [routerLink]="['/students', student.id]"
    >
      <!-- <ion-avatar slot="start">
          <img [src]="student.avatar" />
        </ion-avatar> -->
      <ion-label>
        <p>{{ student.name }} {{ student.surname }}</p>
        <p>{{ student.notes }}</p>
        <h2>Classes:</h2>
        <p>{{ student.classesAttended }}/{{ student.classesAvailable }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</section>
